.App {
  text-align: center;
}
.wrapper {
  /* background-color: aqua; */
}

.square-area {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}

.item {
  height: 50px;
  width: 50px;
  background-color: blue;
  color: white;
}

.active {
  background-color: yellow;
}

.win {
  background-color: green;
}
.loss {
  background-color: red;
}
